<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
     
	  <!-- 1. MIME + Upload Permissions MUST be here -->
      <staticContent>
        <remove fileExtension=".mov" />
        <mimeMap fileExtension=".mov" mimeType="video/quicktime" />
     </staticContent>

    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".mov" allowed="true" />
        </fileExtensions>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
	
	 <!-- new rule alloes files to run normally -->
    <rewrite>
      <rules>
	  <!-- new rule alloes files to run normally -->
	       <rule name="Ignore existing files" stopProcessing="true">
               <match url=".*" />
                <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                </conditions>
                  <action type="None" />
          </rule>
    <!-- Your existing rule -->
        <rule name="APP Routing" stopProcessing="true">
          <match url="^app/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app/index.php?route={R:1}" appendQueryString="true" />
        </rule>
      </rules>
	  
	  <!-- must go here this one --> 
	  <serverVariables>
        <add name="HTTP_AUTHORIZATION" value="*" />
      </serverVariables>

    </rewrite>
    

  </system.webServer>
</configuration>
